<% @contents.each do |content| %>
  <div class="card-index">

    <h1><%= content.title %></h1>

    <div class="card-text-content">

      <% if content.imgplace == "Gauche" %>
           <%= cl_image_tag(content.photo.key, height: 300, width: 300, :crop=>"fill", class: "img-content img-gauche" ) %>
      <% else %>
          <%= cl_image_tag(content.photo.key, height: 300, width: 300, :crop=>"fill", class: "img-content img-droite" ) %>
      <% end %>

      <p><%= simple_format content.text %></p>

    </div>
  </div>
<% end %>
