.devise-button {
  text-decoration: none;
  border-radius: 5px;
  background-color: $devise-form-button-color;
  color: white;
}

.devise-link {
  text-decoration: none;
  color: $devise-form-button-color;
}

.card-devise {
  margin: 32px;
  padding: 16px;
  background-color: white;
  border-radius: 15px;
}
